body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  padding-bottom: 1rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
}

footer {
  padding: 1rem;
  text-align: center;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  font-size: 2em;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 1 300px;
  font-size: 2rem;
  padding: 1rem;
}

.ect-logo {
}

.center {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: black;
}