body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  padding-bottom: 1rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
}

footer {
  padding: 1rem;
  text-align: center;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: black;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  font-size: 2em;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 1 300px;
  font-size: 2rem;
  padding: 1rem;
}

.center {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: black;
  text-align: center;
}

.subsection-heading {
  text-align: center;
}

.teammember-name {
  text-align: center;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 100%;
  /* Form outline */
  padding: 1em;
  /* border: 1px solid #CCC;
  border-radius: 1em; */
}

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 200px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 200px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
  height: 30px;
}
